html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  @apply bg-gray-500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
